
@tailwind utilities;

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Add these styles to your globals.css */
.testimonial-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}
